.main-class{
    font-size: large;
    padding: 2px;
    border: 2px solid red;
    background-color: lightgrey;
    border-radius: 5px;
}

.secondary-class{
    font-size: large;
    padding: 2px;
    border: 2px solid blue;
    background-color: lightgreen;
    border-radius: 5px;
}

.layout{
    display: flex;
    gap: 10px;
}

